@model List<Product>



<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-light">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-2 pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Customer" asp-controller="Product" asp-action="Upsert" class="btn bg-primary text-light">
                    <i class="bi bi-plus-circle"></i> Create Category
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Product ID</th>
                    <th>Author Name</th>
                    <th>Book Price</th>
                    <th>Desc.</th>
                    <th>ISBN</th>
                    <th>Price 50</th>
                    <th>Price 100</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(o => o.PId))
                {
                    <tr>
                        <td>@obj.PId</td>
                        <td>@obj.Author</td>
                        <td>@obj.Price</td>
                        <td>@obj.Description</td>
                        <td>@obj.ISBN</td>
                        <td>@obj.Price50</td>
                        <td>@obj.Price100</td>
                        <td>
                            <div class="w-75 btn-group">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.PId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a asp-area="Customer" asp-controller="Product" asp-action="Delete" asp-route-id="@obj.PId" class="btn btn-danger mx-2">
                                    <i class="bi bi-thrash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

